<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
   
    <style>
        .container {
            text-align: center;
            margin: 10% auto;
            max-width: 400px;
            padding: 20px;
            background-color: skyblue;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <h4>Enter your email to get otp</h4>
        <form method="post" action="/forgot_password">
            <label for="email">Email:</label>
            <input type="email" name="mail" id="email" required>
            <br><br>
            <button type="submit">Generate OTP</button>
        </form>
        {% if message1 %}
        <p id="errormessage" style="color:red;" >{{ message1 }}</p>
        {% endif %}
        {% if message %}
        <p id="errormessage" style="color:green;" >{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
